@forward "default_variables";

@use "sass:list";
@use "sass:map";
@use "sass:string";


.conteiner {
  display: flex;
  flex-wrap: wrap;

  background: #673AB7;
  width: 150px;

  .block {
    padding: 20px;
    margin:5px;

    background: #2196F3;
    color: #fff;
  }

}

