@use "mixin";

@use "sass:list";
@use "sass:map";
@use "sass:string";

body {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.main {
  margin:80px auto auto auto;
  max-width:1600px;
  width: 100%;
  display:flex;
  flex-direction:row;
  background-color: dimgray;
  @include mixin.flex-grow-1;

   .side-bar{

    background-color: aquamarine;
    flex:0 0 20%;



  }
   .content {
    flex:0 0 80%;
    background-color: coral;


  }
}

.top-menu {
  height:80px;
  background-color: plum;
  position:fixed;
  width:100%;
  z-index: 1000; /* чтобы меню было сверху */
}

.footer {
  background-color: green;
  height:300px;
}

.flex-conteiner {
  display:flex;
  gap:10px;
  justify-content: space-between;
  padding:10px;
}

.card {
  flex: 1 1 33%;
  box-sizing: border-box; /* дополнительно, если нужно */
  background-color: darkorchid;
}


.grid-12 {
  display: grid;
  grid-template-columns:
          [sidebar-begin] 1fr repeat(3, 1fr)
          [main-begin] 1fr repeat(7, 1fr)
          [right-begin] 1fr repeat(3, 1fr);
  grid-template-rows:  [header-top]  auto 80px [content-begin] 1fr repeat(9, 1fr)  [footer-begin] 1fr repeat(3, 1fr);
  min-height: 100vh;


}
.grid-header {
  grid-column: sidebar-begin / -1;
  grid-row: header-top / content-begin;
}

.grid-aside {
  grid-column: sidebar-begin / main-begin;
  grid-row: content-begin / footer-begin;
}

.grid-content {
  grid-column: main-begin / right-begin;
  grid-row: content-begin/ footer-begin;
}

.grid-right {
  grid-column: right-begin / -1;
  grid-row: content-begin/ footer-begin;
}
.grid-footer {
  grid-column: sidebar-begin/ -1;
  grid-row:  footer-begin/ -1;
}

.bg-gray {
  background: #717790;
}

.bg-red {
  background: #ff3c41;
}

.bg-blue {
  background: #0ebeff;
}
.bg-green {
  background: limegreen;
}



